


{% block newActivity %}


<article class="module width_full">
    <header><h3>Nueva Actividad</h3></header>

	{{ form_start(form) }}
	<div class="module_content">
		<div class="form_error">  <h4 class="alert_error"> {{ form_errors(form) }} </h4> </div>
		
		<fieldset style="width:9%; float:left; margin-right: 1%;">		
			<div class="form_bloque">
				<h4 class="alert_error"> {{ form_errors(form.hour) }} </h4>
				{{ form_label(form.hour) }} 
				{{ form_widget(form.hour) }} 			
			</div>
		</fieldset>

		<fieldset style="width:9%; float:left; margin-right: 1%;">

			<div class="form_bloque">
				<h4 class="alert_error">{{ form_errors(form.minutes) }} </h4>
				{{ form_label(form.minutes) }}
				{{ form_widget(form.minutes) }}
			</div>
		</fieldset>

		<fieldset style="witdh:29%; float:left; margin-right: 1%;">
			<div class="form_bloque">
				<h4 class="alert_error"> {{ form_errors(form.description)}} </h4>
				{{ form_label(form.description)}}
				{{ form_widget(form.description) }}
			</div>		
		</fieldset>


		<fieldset style="witdh:23%; float:left;">
			<div class="form_bloque">
				<h4 class="alert_error"> {{ form_errors(form.starttime) }} </h4>
				{{ form_label(form.starttime) }}
				{{ form_widget(form.starttime) }}
				<script type="text/javascript">
					jQuery('#yoreporto_actividadbundle_activity_starttime').datetimepicker();			    
				</script>
			</div>  
			
		</fieldset>

		<fieldset style="witdh:23%; float:left;">
			<div class="form_bloque">
				<h4 class="alert_error"> {{ form_errors(form.endtime) }} </h4>
				{{ form_label(form.endtime) }} 
				{{ form_widget(form.endtime) }} 
				<script type="text/javascript">
					jQuery('#yoreporto_actividadbundle_activity_endtime').datetimepicker();			    
				</script>
			</div>			
		</fieldset>

		<fieldset>
			<div class="form_bloque">
				<h4 class="alert_error">{{ form_errors(form.createdat)}} </h4>
				{{ form_label(form.createdat) }}
				{{ form_widget(form.createdat) }}
			</div>
		</fieldset>

		<fieldset>
			<div class="form_bloque">
				<h4 class="alert_error"> {{ form_errors(form.updatedat)}} </h4>
				{{ form_label(form.updatedat) }}
				{{ form_widget(form.updatedat) }}
			</div>
		</fieldset>

		
		<fieldset>
			<div class="form_bloque">
				<h4 class="alert_error"> {{ form_errors(form.idreport) }} </h4>
				{{ form_label(form.idreport) }}
				{{ form_widget(form.idreport) }}
			</div>
		</fieldset>

		<fieldset>
			<div class="form_bloque">
				<h4 class="alert_error"> {{ form_errors(form.projectproject) }} </h4>
				{{ form_label(form.projectproject) }}
				{{ form_widget(form.projectproject) }}
			</div>
		</fieldset>

		<fieldset>
			<div class="form_bloque">
				<h4 class="alert_error"> {{ form_errors(form.useruser) }} </h4>
				{{ form_label(form.useruser) }}
				{{ form_widget(form.useruser) }}
			</div>
		</fieldset>
	</div>
	<footer>
        <div class="submit_link">         	
			{{ form_widget(form.Guardar) }}          
        </div>
    </footer>
	{{ form_end(form)}}
</article><!-- end of post new article -->

	
	
    <article class="module width_full">
      <header><h3>Post New Article base 3</h3></header>
        <div class="module_content">
            <fieldset>
              <label>Nueva actividad</label>
              <input type="text">
            </fieldset>

            <fieldset>
              <label>Content</label>
              <textarea rows="12"></textarea>
            </fieldset>

            <fieldset style="width:48%; float:left; margin-right: 3%;"> <!-- to make two field float next to one another, adjust values accordingly -->
              <label>Category</label>
              <select style="width:92%;">
                <option>Articles</option>
                <option>Tutorials</option>
                <option>Freebies</option>
              </select>
            </fieldset>

            <fieldset style="width:48%; float:left;"> <!-- to make two field float next to one another, adjust values accordingly -->
              <label>Tags</label>
              <input type="text" style="width:92%;">
            </fieldset><div class="clear"></div>
        </div>
      <footer>
        <div class="submit_link">
          <select>
            <option>Draft</option>
            <option>Published</option>
          </select>
          <input type="submit" value="Publish" class="alt_btn">
          <input type="submit" value="Reset">
        </div>
      </footer>
    </article><!-- end of post new article -->
    

{% endblock%}


{% block listReports %}
    <article class="module width_quarter">
      <header><h3>Messages</h3></header>
      <div class="message_list">
        <div class="module_content">
          <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
          <p><strong>John Doe</strong></p></div>
          <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
          <p><strong>John Doe</strong></p></div>
          <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
          <p><strong>John Doe</strong></p></div>
          <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
          <p><strong>John Doe</strong></p></div>
          <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
          <p><strong>John Doe</strong></p></div>
        </div>
      </div>
      <footer>
        <form class="post_message">
          <input type="text" value="Message" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
          <input type="submit" class="btn_post_message" value=""/>
        </form>
      </footer>
    </article><!-- end of messages article -->
{% endblock %}



